.home{
 
}
.carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
}

.carousel .thumbs {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 auto;
}

.carousel .thumb {
  margin: 0 5px; /* Adjust spacing between thumbnails as needed */
}
